*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  text-align: center;
  text-decoration: none;
  list-style: none;
  border: none;

  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
}

/*****************************************************************
******************************************************************/
:root {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;

  --color-bg-main: linear-gradient( rgb(58, 58, 58), rgba(36, 36, 36));
  --text-white: white;
  --text-dark: rgb(51, 51, 51);
  --text-sec: rgb(194, 194, 194);
  --green: rgb(85,255,102);



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*****************************************************************
******************************************************************/
body {
  min-height: 100vh;
  background-image: var(--color-bg-main);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  display: block;
}

small{
  font-size: .8rem;
}

/*****************************************************************
******************************************************************/
/*
.hero-div {
  padding: .5em;
  background-color: rgb(202, 203, 204);
  border-radius: 10px;
  color: rgb(209, 255, 2);
}
*/
